/* Estilos generales */

.medium-title {
  font-size: var(--step-1);
  font-weight: bold;
  color: var(--dark-green-1);
}

/* Estilos de componente listado */
.table th {
  text-align: center;
  color: var(--dark-brown-1) !important;
  text-shadow: 1px 0.5px 1px #22222280;
}

.table th,
.table td {
  padding: 0.25em 0.5em;
}

.table td {
  font-size: var(--step--1);
}

.btn-opciones-pacientes {
  width: var(--step-2);
  height: var(--step-2);
  margin: 0.25em 0 0 0.025em;
  padding: 0 0.25rem;
  color: #fff;
  font-size: var(--step--2) !important;
  border-radius: 50%;
  border: none;
  /* border: thin solid var(--bs-border-color); */
  text-align: center;
}

.btn-opciones-pacientes:hover {
  filter: brightness(0.85);
}

.consultar {
  background-color: var(--green-1);
}

.modificar {
  background-color: var(--dark-green-1);
}

.eliminar {
  background-color: var(--brown-1);
}

/* Estilos de componente buscar */

.btn-agregar,
.btn-buscar,
.btn-volver,
.btn-grabar {
  max-width: 150px !important;
}

.form-buscar-pacientes,
.container-title-consulta {
  padding: 0.75em 0.5em;
  background-color: #444;
  border-radius: 0.5em;
  box-shadow: var(--box-shadow-sm);
}

.form-buscar-pacientes .input-nombre {
  max-width: 100%;
  padding: 0.25em;
  font-size: var(--step--1);
}

.form-buscar-pacientes label[for="nombre"] {
  padding: 0.25em 0;
  font-size: var(--step--1);
}

.title-buscar,
.title-consulta {
  width: 100%;
  margin-top: 0.25em !important;
  padding: 0.25em 0.5em;
  color: var(--orange-1);
  font-size: var(--step-2);
  font-weight: bold;
  text-shadow: 1px 1px 2px #00000080;
  text-align: center;
}

/* Componente pacientesRegistro */

.btn-volver {
  margin-right: auto;
  margin-left: auto;
  color: #fff !important;
  background-color: var(--brown-1) !important;
  transition: filter 0.5s;
}

.form-pacientes {
  background-color: #66666630;
  border-radius: 1em;
}

.form-pacientes .input-group {
  /* width: clamp(50%, auto, 100%); */
  font-size: var(--step--2);
}

.form-pacientes input[type="image"] {
  max-width: 200px;
  max-height: 200px;
  margin-top: 0.5em;
  border: none;
}

.form-pacientes .input-group input[type="text"],
.form-pacientes .input-group input[type="number"],
.form-pacientes .input-group input[type="date"] {
  padding: 0.25em 1em 0.25em 1em;
}

.form-pacientes .input-group-text {
  background-color: var(--white-1);
  font-size: var(--step--1);
  font-weight: bold;
}

.form-pacientes .input-group-span {
  padding: 1em;
  background-color: rgba(239, 239, 239, 0.3);
  font-weight: bold;
  border: thin solid #dee2e6;
  border-radius: 0.25em;
}

.form-pacientes input[type="file"] {
  background-color: var(--white-1);
}

.form-pacientes input[type="file"]::file-selector-button {
  background-color: var(--white-1);
  color: #000;
  border: 0;
  border-right: thin solid #44444450;
  font-size: var(--step--1);
  font-weight: bold;
  transition: 0.5s;
}

.form-pacientes input[type="file"]::file-selector-button:hover {
  background-color: #bbe4b8;
}

.form-pacientes .descripcion {
  width: 65%;
  height: clamp(5vh, 10vh, 20vh);
  resize: none;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  outline: none;
}

.form-pacientes .input-peso::placeholder {
  text-align: end;
}

.datos-propietarios {
  padding: 1em 0em 1em 0em;
}

.select-especie {
  width: 40%;
  outline: none;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
}

/* Media queries small  */
@media screen and (min-width: 36em) {
  .pacientes-buscar {
    max-width: 50vw !important;
  }
}

/* medium */
@media screen and (min-width: 48em) {
  .btn-opciones-pacientes {
    width: 2em;
    height: 2em;
    font-size: var(--step-0) !important;
  }

  .form-pacientes .input-group,
  .form-pacientes .input-group-span,
  .form-pacientes .input-group-text {
    font-size: var(--step--1);
  }

  .btn-grabar,
  .btn-volver {
    width: 12em !important;
    height: 4em !important;
    font-weight: bold !important;
  }
}

/* large */

@media screen and (min-width: 62em) {
  .botones-registro > .btn-grabar,
  .botones-registro > .btn-volver {
    max-width: 180px !important;
    padding: 0.25em;
  }

  .datos-propietarios {
    padding: 0.25em;
    /* height: 14em; */
    /* border-left: 0.15em solid #66666680; */
  }

  .form-pacientes .input-group,
  .form-pacientes .input-group-span,
  .form-pacientes .input-group-text {
    font-size: var(--step--1);
  }

  .form-pacientes input[type="date"] {
    max-width: 50%;
  }

  .form-pacientes .descripcion {
    height: 20vh;
  }

  .table.pacientes-listado {
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
  }

  .table td:nth-child(1) {
    font-size: var(--step-0) !important;
  }

  .table td:nth-child(2),
  .table td:nth-child(3),
  .table td:nth-child(4) {
    font-size: var(--step--1) !important;
  }
}
