.bg-success {
    background-color: #555c34 !important;
  }
  
  .bg-danger {
    background-color:#555c34 !important;
  }
  
  .bg-info {
    background-color: #555c34  !important;
  }
  
  .bg-warning {
    background-color: #555c34 !important;
  }

  .btn.btn-primary{
    background-color: #555c34 !important;
  }

  .progress{
    background-color: #c5652d !important;
  }

  .progress-bar.progress-bar-striped.progress-bar-animated{
    background-color: #c5652d !important;
  }