/* General */

.title-registrar-propietario {
  padding: 0 !important;  
  margin: 0 !important;  
  font-size: var(--step-2);
  font-weight: bold;
  color: var(--dark-orange-1);
}

.container-title-registro {
  padding: 1em 0.5em;
  background-color: #444;
  border-radius: 0.5em;
  text-align: center;
}
/* 
.propietarios-container {
  background-color: #66666630;
  border-radius: 1em;
} */

.form-propietarios .btn-grabar {
  width: auto !important;
  height: auto !important;
}

.form-propietarios .btn-modificar {
  border: 0;
  outline: 0;
}

.form-propietarios .btn-modificar:active{
  border: 0 !important;
}

.agregar-propietarios .btn-agregar {
  max-width: 100% !important;
  color: var(--white-1) !important;
}

/* Estilos componente PropietariosLista */

.lista-propietarios th {
  color: var(--white-1) !important;
}

.btn-seleccionar {
  color: #fff !important;
  font-size: var(--step--2) !important;
  border-radius: 0.5em !important;
}

.opciones-propietarios {
  padding: 0.5em;
}

@media screen and (min-width: 62em) {
  .opciones-propietarios {
    justify-content: space-evenly !important;
    padding: 0;
    max-width: 10em !important;
  }

  .opciones-propietarios .btn {
    margin-top: 0.4em !important;
  }

  .form-propietarios .input-group input {
    width: 80%;
  }

  .form-propietarios .input-group-text {
    width: 20%;
  }
}
